<% if user_signed_in? %>
  <% redirect_to sites_url %>
<% end %>

<div id="wrapper">
  <div id="topbar">
      <img src="/assets/I_CARE_Logo.png" id="icare_logo"/><span id="beta_text">BETA</span>
      <div id="signin">
	  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	    <%= f.email_field :email, :id => 'user_email', :value => 'email' %>
	    <input id="password-clear" type="text" value="password">
	    <%= f.password_field :password, :id => 'user_password', :style => 'display:none; ' %>

	  <%= f.submit "", :type => :image, :src => '/assets/SignIn_BTN.png', :id => 'sign_in_button' %>    <% end %>
	</div>

  </div>

  <div id="main_area">
<!-- comment out -->
    <img src="/assets/Header_Image.png" id="main_image" />
    <div id="subheader">A new way to show support when 'Like' isn't the right word.</div>
    <div id="rotating_hero_div">
      <img src="/assets/HERO_HEALTH.png" id="hero_image" class="hero_images" />
      <img src="/assets/HERO_JAPAN.png" id="hero_image1" class="hero_images" />
      <img src="/assets/HERO_OBAMA.png" id="hero_image2" class="hero_images" />
      <img src="/assets/HERO_TORNADO.png" id="hero_image3" class="hero_images" />
       <img src="/assets/HERO_TRENDING.png" id="hero_image4" class="hero_images" />
    </div>
    <div id="info_container">
      <div id="left_image">
	<img src="/assets/LEFT_ARROW_SEE.png" id="see_the_impact" />
      </div>
      <div id="left_side">
	  <div id="our_mission">
		<h2>Our Mission.</h2>
		Give people a way to show support for a wide variety of things such as: causes, social issues, charities, even government. 
		But that's not all. I CARE will also reflect the most cared about topics worldwide.
	  </div>
	  <div id="our_hope">
	      <h2>Our Hope.</h2>
	      Connect people through issues and gain awareness to create action.
	  </div>
      </div>
      <div id="right_side">
	  <h2>How It Works.</h2>
	  It's simple. Take two minutes to register. Then, copy the I CARE code directly onto your site. That's it. From there, visitors can click the button to care about articles, images or posts that relate to your topic. 
      </div>
      <div id="right_image">
	<img src="/assets/RIGHT_ARROW_COPY_PASTE.png" id="copy_and_paste"/>

      </div>

    </div>
  </div>

  <div id="bottom_signup">
  <hr/>
    <div id="register_text">
      <b>Register</b> for your custom <b>I Care</b> code and track how it's being used on your site. 
    </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= f.email_field :email, :id => 'signup_user_email', :value => 'email' %>

    <%= f.password_field :password, :id => 'signup_user_password', :style => 'display:none;' %>
     <input id="password-clear-create" type="text" value="create password">
	   
    <%= f.password_field :password_confirmation, :id => 'signup_user_password_confirmation', :style => 'display: none;' %>
     <input id="password-clear-confirm" type="text" value="confirm password"><br/>
	   
  <%= f.submit "", :type => :image, :src => '/assets/SignUp_BTN.png', :id => 'sign_up_button' %>
     


<h2><% render 'devise/errors' %><%= alert %></h2>
  <% end %>
  </div>
</div>