<h1>Listing sites</h1>

<table >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th>User ID</th>
    <th>Site ID</th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.description %></td>
    <td><%= site.url %></td>
    <td><%= current_user.id %></td>
    <td><%= site.id %></td>
    <td><%= link_to 'Show', site %> &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_site_path(site) %> &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Delete', site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
 
    
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
