<%= stylesheet_link_tag    "sites" %>

<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @site.name %>
</p>
<p>
  <b>URL:</b>
  <%= @site.url %>
</p>
<p>
  <b>Description:</b>
  <%= @site.description %>
</p>
<p>
  <b>id:</b>
  <%= @site.id %>
</p>
<p>
  <b>To Put Button On Your Site, copy and paste the following code:</b><br/>
  <textarea id="copytext"><a href="http://<%= request.host_with_port  %>/imp_sites/<%= @current_user.id %>/<%= @site.id %>"><img src="http://<%= request.host_with_port  %>/icare_small.jpg"/></a></textarea>
</p>

Current supporter count: <%= @vote_count %><br/><br/>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
