<%= stylesheet_link_tag    "sites" %>

<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @site.name %>
</p>
<p>
  <b>URL:</b>
  <%= @site.url %>
</p>
<p>
  <b>Description:</b>
  <%= @site.description %>
</p>
<p>
  <b>Site ID:</b>
  <%= @site.id %>
</p>
<p>
  <b>To Put Button On Your Site, copy and paste the following code:</b><br/>
  <textarea id="copytext" style="width:500px;" rows="10"><script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script><script language="javascript">
$(document).ready( function() {

    $('a#df9sdf7df9sf9sdf9g').click( function() {

	$.get($('a#df9sdf7df9sf9sdf9g').attr('href'), function(data) {
	  // $('').html(data);
	  
	}).error(function() { 
	      $(location).attr('http://172.30.11.22:3001/'); 
	});
	
	return false;
      
    });
});

</script> <a href="http://<%= request.host_with_port  %>/imp_sites/<%= @current_user.id %>/<%= @site.id %>" data-remote="true"><img src="http://<%= request.host_with_port  %>/icare_small.jpg"/></a></textarea>
</p>

Current supporter count: <%= @vote_count %><br/><br/>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
