<!DOCTYPE html>
<html>
<head>
  <title>I CARE</title>
  <%= stylesheet_link_tag    'application.css', '/bootstrap/css/bootstrap.min.css', 'jquery-ui-1.8.18.custom.css' %>
  <%= javascript_include_tag "application", 'jquery-1.7.1.min.js', 'jquery-ui-1.8.18.custom.min.js' %>
  
<% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <% msg.each do |message| %>
	<%= content_tag :div, message, :id => "flash_#{name}" %>
      <% end %>
    <% else %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %> 
  <% end %>

  <%= csrf_meta_tags %>
   <script type="text/javascript" src="http://www.ddb01.com/28541_ICARE/flash/swfobject.js"></script>
		<script type="text/javascript">
		swfobject.registerObject("iCareVid", "9.0.0", "http://www.ddb01.com/28541_ICARE/flash/expressInstall.swf");
		</script>
</head>
<body>

<%= yield %>

  <div id="legal_copy">
  &copy; 2012 DDB
  </div>
</body>
</html>
